src/main/resources/schemas/ClienteSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Tue Jan 05 2016 00:47:24 GMT-0200 (BRST) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="Clientes">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="cliente" maxOccurs="unbounded" minOccurs="1">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="nome" maxOccurs="1" minOccurs="1" type="xs:string"></xs:element>
                                             <xs:element name="idade" maxOccurs="1" minOccurs="1" type="xs:int"></xs:element>
                                             <xs:element name="profissao" maxOccurs="1" minOccurs="1" type="xs:string"></xs:element>
                                             <xs:element name="sexo" maxOccurs="1" minOccurs="1" type="xs:string"></xs:element>
                                       </xs:sequence>
                                       <xs:attribute name="id" type="xs:int"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>
